.App {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 960px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
